<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolar</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <herder>
        <h1></h1>
    </herder>
    <nav>
        <a href="/alunos/home">Home</a>
        <a href="/alunos/listarAlunos">Cadastrar Alunos</a>


    </nav>



</body>
</html>